body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}
body:hover{
    background-color: #8583838f;
}

#container {
    width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.add{
    margin-right: 50px;
    background-color: rgba(39, 95, 133, 0.479);
}

h1 {
    margin-top: 10px;
    border: 1px solid rgba(11, 113, 197, 0.575);
    text-align: center;
    padding: 3px;
    border-radius: 10%;
    width: 100px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
    color: rgba(0, 95, 139, 0.507);
}

.delete{
    background-color: rgb(12, 64, 71);
}

.delete:hover{
    background-color: rgb(136, 16, 16);
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #143e4b6c;
    color: white;
    margin-right: 5px;
    margin-left: 20px;
    margin-top: 5px;
}

button:hover {
    background-color: #1b2153;
    transition: 0.3s;
}

.action-buttons {
    display: inline-block;
    margin-top: 10px;
}

.action-buttons button {
    margin-right: 5px;
}